[user]
        name = Siaw Young
        email = sy@siawyoung.com

[credential]
        helper = osxkeychain

[push]
	default = current

[status]
        showUntrackedFiles = all

[transfer]
        fsckobjects = true

[color]
        ui = true

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold

[color "status"]
        added = yellow
        changed = green
        untracked = red
[url "git@github.com:"]
	insteadOf = https://github.com/

[alias]
    fresh = "!sh -c 'git sync && \
                     git checkout master && \
                     git checkout -b $1' -"

    list-recent = "!sh -c 'git for-each-ref --sort=-committerdate refs/heads/ \
    --format=\"%(refname:short)\"'"

    recent = "!sh -c 'git checkout $(git list-recent | fzf -m)'"


[github]
	user = siawyoung
