[user]
        name = Siaw Young
        email = lausiawyoung@gmail.com

[credential]
        helper = osxkeychain

[push]
        default = simple

[status]
        showUntrackedFiles = all

[transfer]
        fsckobjects = true

[color]
        ui = true

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold

[color "status"]
        added = yellow
        changed = green
        untracked = red
[url "git@github.com:"]
	insteadOf = https://github.com/

# https://superuser.com/questions/623217/how-to-pull-into-multiple-branches-at-once-with-git
# update master and stage together
[alias]
    sync = "!sh -c 'git checkout --quiet --detach HEAD && \
                    git fetch origin master:master stage:stage ; \
                    git checkout --quiet -'"